<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>Shop</title>
</head>

<body>
  <div id="admin" class="content">

    <h1>Store Management Interface</h1>
    <div class="add">
      <div class="form">
        <input v-model="title" placeholder="Product Name">
        <input type="textarea" v-model="description" placeholder="Price" />
        <input type="textarea" v-model="path" placeholder="Picture URL" />
        <p></p>
        <button @click="upload">Add Product</button>
      </div>
      <div class="upload" v-if="addItem">
        <h2>{{addItem.title}} - {{addItem.description}}</h2>
        <img :src="path" />
      </div>
    </div>

    <h1>Current Products</h1>
    <div v-for="item in items">
      <p></p>
      <hr>
      <button @click="deleteItem(item)" class="delete">X</button> {{item.title}} - price {{item.description}} - ordered {{item.orders}} <img :src="item.path" />
    </div>
    <div v-if="items.length == 0">
      No current products
    </div>
    <p></p>
    <p></p>
    <a href="/">Store</a>
    <p></p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/admin.js"></script>
</body>

</html>